* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    box-sizing: border-box;

}
body{
    background-color: white;

}
#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: aliceblue;

}

nav {
    background-color: pink;
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    list-style-type: none;

}
ul li {
    padding: 10px;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

div p {
    position: relative;
    left: 50px;
    top: 50px;

}
a.menu {
    display: inline;
    width: 25%;
    padding: 15px 30px 15px 30px;
    color: black;
    text-decoration: none;
    text-align: center;
}
a.menu:hover {
    background-color: lightpink;
}

