* {
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    box-sizing: border-box;

}
body{
    background-color: white;

}


#wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: aliceblue;


}
a.button{
    text-decoration:  none;
    color: white;
}
nav {
    background-color: lightpink;
    display: flex;
    justify-content: space-between;
}


.container{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    place-items: flex-start;
    height: 100vh;
    margin: auto;
    padding: 50px;

}

.box{
    background: grey;
    text-align: center;

}


.text{
    padding: 20px;
}

.button{
    background-color: dimgrey;
    padding:10px;

}

button{
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;

}
ul li {
    padding: 10px;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
}


a.menu {
    display: inline;
    width: 25%;
    padding: 15px 30px 15px 30px;
    color: black;
    text-decoration: none;
    text-align: center;
}
a.menu:hover {
    background-color: lightpink;
}

.products img {
    width: 50px;
}